:root {
    /* colors */
    --black: #000000;
    --coffee: #2c1010;
    --grey: #373737;
    --silver: #e5e6e5;
    --paper: #ffffff;
    --cobalt: #3768b2;
    --forest: #395940;
    --moss: #7b9e81;
    --khaki: #f2e397;
    --yellow: #f0d13f;
    --orange: #e18323;
    --paarl: #a4532e;

    /* fonts */
    --cronos: cronos-pro, lato, zeitung-mono, sans-serif;
    --lato: lato, cronos-pro, zeitung-mono, sans-serif;
    --zeitung: zeitung-mono, cronos-pro, lato, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.choice-container {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(57, 89, 64, 0.5);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(57, 89, 64, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(57, 89, 64);
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: var(--moss);
}

.incorrect {
    background-color: var(--paarl);
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid var(--forest);
    margin-top: 2rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: var(--forest);
    width: 0%;
}

/* ANSWER FEEDBACK */
.correct-answer-hidden {
    display: none;
}

.correct-answer-showing {
    display: block;
}

p#explanation {
    font-size: 2rem;
}

/* HEADER */

header {
    padding: 20px 30px;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

#logo {
    width: 200px;
}

/* NEXT QUESTION BUTTON */
#nextquestion {
    margin: 4rem 0;
}